* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#floor {
  position: absolute;
  top: -250%;
  left: -250%;
  width: 500%;
  height: 500%;
  transform: rotate3d(1, 0, 1, 45deg);
}

#canvas {
  border: solid 1px;
}
